* {
    margin: 0%;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Mukta', sans-serif;
    
}

header {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 1%;
    align-items: center;
}

header a {
    margin: 0% 1%;
}

.corpo {
    color: black;
    background-color: rgb(255, 255, 255);
}
.corpo a {
    color: black;
}

.ncorpo {
    color: rgb(255, 255, 255);
    text-decoration-color: white;
    background-color: rgb(0, 0, 0);
}
.ncorpo a {
    color: white;
}

#rosto {
    width: 40%;
    margin: 0% 1%;
    border-radius: 50%;
}

#icon1 {
    margin: 0% 2%;
}
#link2 {
    margin: 0% 2%;
}
#pesquisa {
    width: 100%;
    padding: 2%;
    
    display: block;
    align-items: center;
    justify-content: center;
    text-align: -webkit-center;
}

#bingo {
    display: flex;
    align-items: center;
    width: 35%;
    margin-bottom: 2%;
}

#campo {
    align-items: center;
}
#input {
    width: 80%;
    justify-content: center;
}

#botao {
    margin: 2%;
    width: 20%;
    justify-content: center;
}

#rodape {
    width: 100%;
}

.brasileiro {
    width: 100%;
    padding: 1%;
    border-style: solid;
    display: flex;
}

.embaixo {
    width: 100%;
    padding: 1%;
    border-style: solid;
    display: flex;
    justify-content: space-between;
}
#esquerda {
display: flow-root;
width: 70%;
}

.esquerda {
    margin: 0% 2% 0% 0%;
  }

#direita {
    display: flow-root;
    text-align: right;
    width: 70%;
    }
    
.direita {
     margin: 0% 0% 0% 2%;
     cursor: pointer;
}
