* {
    text-decoration: none;
    margin: 0%;
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 2%;
    border-style: double;
    padding: 1%;
}

header img {
    width: 10%;
}

section {
    display: flex;
    margin: 2%;
    justify-content: space-around;
    text-align: justify;
}

#dados {
    margin: 0 2%;
    width: 40%
}
h3 {
    padding: 1%;
}

#texto {
    margin: 0% 2%;
    text-justify: auto;
    width: 70%;
}

.paragrafo {
    border-style: double;
    padding: 1%;
}